.sendForm {
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff; 
    border-radius: 10px; 
}

.textarea {
    width: 967px;
    height: 40px;
    padding: 10px;
    border: 1px solid #ddd; 
    border-radius: 20px;
    font-size: 14px;
    resize: none; 
    margin-right: 10px;
    outline: none; 
    font-family: inherit; 
    overflow: hidden;
    
}

.textarea:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.button {
    background-color: #007bff; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    font-size: 14px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    background-color: #0056b3; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.button:active {
    background-color: #004085; 
    box-shadow: none; 
    transform: scale(0.98); 
}